* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.app__container {
	max-width: 1918px;
	display: flex;
}

/* Navbar */
.app__container-navbar {
	background-color: black;
	max-width: 150px;
	display: flex;
	flex-direction: column;
}
.app__container-navbar_links {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.app__container-navbar_link {
	padding: 30px;
	width: 100%;
}

.app__container-navbar_link :hover {
	background: rgb(110, 110, 110);
}

.app__container-navbar_item {
	color: white;
	text-decoration: none;
	width: 100%;
	padding: 0.6rem 1.5rem;
	border-bottom: 1px solid rgb(110, 110, 110);
	font-size: 16px;
}

.app__container-navbar_item:hover {
	background: rgb(110, 110, 110);
}

/* container */
.app__container-body {
	max-width: 1768px;
	display: flex;
	flex-direction: column;
}

.app__container-body_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 130px;
}

.app__container-body_main-img {
}

.app__container-body_main-img img {
	width: 310px;
	height: 122px;
	margin-top: 20px;
}

.app__container-body_main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.app__container-body_main-title_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 100px;
	margin-bottom: 1rem;
	background-color: #efefef;
}

.app__container-body_main-title_container p:nth-child(1) {
	margin-top: 38px;
	font-weight: 600;
	margin-bottom: 18px;
	font-size: 21px;
}

.app__container-body_main-title_container p:nth-child(2) {
	margin-bottom: 38px;
	font-size: 16px;
}

.app__container-body_main-wrapper {
	display: flex;
	flex-direction: row;
}

.app__container-body_main-wrapper_items:nth-child(1) {
	margin-right: 25px;
}

.app__container-body_main-wrapper_items:nth-child(2) {
	margin-right: 25px;
}

.app__container-body_main-wrapper_items-title {
	font-weight: bold;
	margin-bottom: 18px;
	font-size: 24px;
}

.app__container-body_main-wrapper_items-detail {
	font-size: 16px;
}

.app__container-body_main-wrapper_items-detail img {
	width: 128px;
	height: 128px;
	object-fit: cover;
	float: left;
}

.footer {
}

.footer-container {
	padding: 30px 0;
}

.footer-container div {
	border-top: 1px solid #dedede;
	padding: 10px 0;
}

.footer-text {
	padding: 0 129px;
}

@media screen and (max-width: 600px) {
	.app__container {
		flex-direction: column;
	}

	.app__container-navbar {
		flex-direction: row;
		max-width: 100%;
	}

	.app__container-navbar_item {
		padding: 0.5rem 0.5rem;
		text-align: center;
		max-width: 125px;
	}
	.app__container-body_main-img img {
		width: 150px;
		height: auto;
	}
	.app__container-body_main {
		padding: 0 !important;
	}
	.app__container-body_main-wrapper {
		flex-direction: column;
		max-width: 450px;
	}
	.app__container-body_main-wrapper_items {
		margin-bottom: 20px;
		text-align: center;
	}

	.app__container-body_main-wrapper_items-detail {
		text-align: start;
	}

	.app__container-body_main-title_container {
		padding: 0 10px;
	}
}

@media screen and (max-width: 768px) {
	.app__container {
		flex-direction: column;
	}

	.app__container-navbar {
		flex-direction: row;
		max-width: 100%;
	}
	.app__container-body_main-img img {
		width: 200px;
		height: auto;
	}
	.app__container-body_main-wrapper {
		flex-wrap: wrap;
	}
	.app__container-body_main {
		padding: 0 50px;
	}

	.footer-container {
		text-align: center;
	}
}
